body{
    background-image: url("back.png");
    background-repeat: repeat;
    overflow-x: hidden;
}
#sites{
    width: 90%;
    padding-top: 2%;
    display: grid;
    grid: repeat(2, 1fr) / repeat(4, 1fr );
    grid-auto-flow: row;
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 2em 3em;
    height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
}
.site{
    background-color: gray;
    width: 100%;
    height: 100%;
    display:grid;
    grid: 1fr/1fr;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    background: lightgrey;
    transition: all 0.1s ease-in;
    box-shadow: 0 0 0 0 cyan;
}
.site:hover{
    background-color: cyan;
}
.site::after{
    box-shadow: 0px 0px 0px 7px cyan;
    opacity: 0;
    transition: opacity 0.1s ease-in;
    width: 100%;
    height: 100%;
}
.site:hover::after{
    opacity: 1;
}
/*#sites{
  display: flex;
  width: 100%;
  max-width: 100vw;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  padding-top: 2%;
  flex-flow: row wrap;;
}
.site{
    flex-shrink: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  background: lightgrey;
  display: inline-block;
  margin-bottom: 2em;
  padding: 4em;
  border-radius: 5px;
  font-size: 15px;
  min-width: 20%;
  height:10%;
  max-height: 10%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;

}
.site:before {
	content: "";
	position: absolute;
    border-radius: 5px;
	z-index: -1;
 	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: cyan;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.site:hover{
  /*animation: siteHover 500ms 1 forwards
  animation: tada 1s;

}
.site:hover:before{
    transform: scale(1);
}
@keyframes siteHover {
    0% {
        background: lightgrey;
        font-size: 15px;
    }
    100% {
        background-color: blue;
        font-size: 20px;
    }
}*/

.fortune{
    margin: 1em 0 1em 7em;
    padding-right: 20%;
}
#title{
    margin: 2em 0 0em 4em;
    animation: shake 2s;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
    transform: rotateZ(0deg);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
    transform: rotateZ(1deg);

  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
    transform: rotateZ(-1deg);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
#boxes{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    display: inline-block;
    padding: 0 0 0 0;
    margin: 5em;
    margin-top: 2em;
    min-width: 20rem;
    max-width: 20rem;
    font-family: sans-serif;
}
.boxHead{
    font-weight: bold;
    padding: 0.5em 1em 0.5em 2em;
    background-color: #a8a8a8;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.boxBody{
    background-color: rgba(204,204,204,0.7);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 1em 3em 1em 1em;
    box-shadow: 0 0px 0px gray;
    transition: box-shadow .2s;
}
.boxBody > p{
    margin: 0;
    word-break: break-all;
}
.boxBody:hover {
    box-shadow: 0 10px 10px 3px gray;
}

.alert > .boxHead::after, .alert > .boxHead::before{
    content: "⛔⛔⛔⛔⛔";
    position: relative;
    animation: flash 1s linear infinite reverse;
}
.alert > .boxBody{
    background-color: rgba(255, 150, 150, 0.7);
}
.alert > .boxHead{
    background-color: rgb(239, 69, 69);
}

#loadingBox{height: 80%; display: flex; justify-content: center; align-items: center; padding: 0;}

#loading {
    /*height: 4.5em;
    width:  4.5em;*/
    display: grid;
    grid: repeat(2, 2em) / repeat(3, 2em);
    justify-items: stretch;
    align-items:   stretch;

}
.loadBox{
    /*animation: loadColor 2s linear 0s infinite;*/
}
#load1{
    background-color: gray;
    animation: loadAnim 2s linear 0s infinite;
    border-radius: 10px;
}
#load2{
    background-color: darkgray;
    animation: load2Anim 2s linear -0.5s infinite;
    border-radius: 10px;
    grid-row: 2/3;
    grid-column: 3/4;
}


@keyframes loadAnim {
    0%{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    12%{
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: gray;
    }

    25%{
        background-color: #959595;
        grid-row: 1/2;
        grid-column: 2/3;
    }
    37%{
        grid-row: 1/3;
        grid-column: 2/3;
    }
    50%{
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: #959595;
    }
    63%{
        background-color: gray;
        grid-row: 2/3;
        grid-column: 1/3;
    }
    75%{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    88%{
        grid-row: 1/3;
        grid-column: 1/2;
    }
}
@keyframes load2Anim {
    0%{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    12%{
        grid-row: 1/3;
        grid-column: 3/4;
    }
    25%{
        grid-row: 1/2;
        grid-column: 3/4;
    }
    37%{
        grid-row: 1/2;
        grid-column: 2/4;
        background-color: darkgray;
    }
    50%{
        background-color: #959595;
        grid-row: 1/2;
        grid-column: 2/3;
    }
    63%{
        grid-row: 1/3;
        grid-column: 2/3;
    }
    75%{
        grid-row: 2/3;
        grid-column: 2/3;
        background-color: #959595;
    }
    88%{
        background-color: darkgray;
        grid-row: 2/3;
        grid-column: 2/4;
    }
}



@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

footer{
    font-style: italic;
    color: darkgray;
    position: absolute;
    bottom: 2em;
    right: 1em;
}
#enterTheMatrix{
    position: absolute;
    top:1%;
    right: 1%;
    height: 2em;
    width: 2em;
    background: radial-gradient(circle at center, rgba(0,173,0,1) 0%, rgba(0,173,0,1) 45%, rgba(0,99,0,1) 48%, rgba(0,0,0,0.43) 52%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
    transition: background .3s;
}
#enterTheMatrix:hover{
    background: radial-gradient(circle at center, rgba(0,130,0,1) 0%, rgba(0,130,0,1) 45%, rgba(0,99,0,1) 48%, rgba(0,0,0,0.43) 52%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
}
