body{
    background-image: url("back.png");
    background-repeat: repeat;
}
#sites{
  display: flex;
  width: 100%;
  max-width: 100vw;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  padding-top: 5%;
  flex-flow: row wrap;;
}
.site{
    flex-shrink: 1;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  background: lightgrey;
  display: inline-block;
  margin-bottom: 2em;
  padding: 4em;
  border-radius: 5px;
  font-size: 15px;
  min-width: 20%;
  height:10%;
  max-height: 10%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;

}
.site:before {
	content: "";
	position: absolute;
    border-radius: 5px;
	z-index: -1;
 	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: cyan;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.site:hover{
  /*animation: siteHover 500ms 1 forwards */
  animation: tada 1s;

}
.site:hover:before{
    transform: scale(1);
}
@keyframes siteHover {
    0% {
        background: lightgrey;
        font-size: 15px;
    }
    100% {
        background-color: blue;
        font-size: 20px;
    }
}

.fortune{
    margin: 1em 0 1em 7em;
}
#title{
    margin: 2em 0 0em 4em;
    animation: shake 2s;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
    transform: rotateZ(0deg);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
    transform: rotateZ(1deg);

  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
    transform: rotateZ(-1deg);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
#boxes{
    display: flex;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    display: inline-block;
    padding: 0 0 0 0;
    margin: 5em;
    min-width: 20rem;
    font-family: sans-serif;
}
.boxHead{
    font-weight: bold;
    padding: 0.5em 1em 0.5em 2em;
    background-color: #a8a8a8;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.boxBody{
    background-color: rgba(204,204,204,0.7);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 1em 3em 1em 1em;
}
.boxBody > p{
    margin: 0;
}
